<configuration>
    <appSettings>
        <add key="SnifferGolf7"
             value="https://www.njuskalo.hr/auti/vw-golf-7?onlyFullPrice=1&amp;price%5Bmax%5D=20000&amp;geo%5BlocationIds%5D=1162&amp;adsWithImages=1&amp;fuelTypeId=602&amp;motorPower%5Bmin%5D=100&amp;mileage%5Bmax%5D=150000" />
        <add key="SnifferAudiA3" value="" />
        <add key="IndexGolf7"
             value="https://www.index.hr/oglasi/osobni-automobili/gid/27?pojam=&amp;sortby=1&amp;elementsNum=10&amp;cijenaod=0&amp;cijenado=20000&amp;tipoglasa=1&amp;markavozila=11944&amp;modelvozila=12900&amp;pojamZup=1162&amp;attr_Int_179=&amp;attr_Int_1190=&amp;attr_Int_470=&amp;attr_Int_910=150000&amp;oglaslika=1&amp;attr_bit_362=1&amp;attr_bit_473=&amp;attr_Int_1172=&amp;attr_Int_1335=&amp;attr_Int_359=100&amp;attr_Int_1192=&amp;attr_bit_klima=&amp;attr_bit_mjenjac=&amp;attr_bit_brzina=&amp;attr_bit_vrsta_pogona=&amp;vezani_na=179-1190_470-910_1172-1335_359-1192" />
        <add key="IndexAudiA3" value="" />
    </appSettings>
</configuration>